/* makes collection look like a colapsibile */
ul.collection.with-header{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.collection, .collapsible-header, .collapsible {
    border: none;
}

/* floats color picker to the right */
.sp-replacer {
    margin-left: auto;
}

/* makes slider boxes smaller */
.row {
    margin-bottom: 0px;
}

